body {
  background-color: #ef8202 !important;
  font-family: 'Rubik', sans-serif;
}

img {
  height: 10rem;
}

.bvOrange {
  /* display: flex;
  padding-top: 1rem;
  width: 80%;
  margin: auto; */
  color: #3b323d;
}

.bvText {
  font-size: 1.5rem !important;
  color: #3b323d;
}

.navbar {
  background-color: #ef8202 !important;
}
.navbar-item {
  color: #3b323d;
}

.bvButton {
  background-color: #3b323d !important;
  color: white !important;
  border-color: transparent !important;
}

.bvBox {
  width: 75%;
  margin: auto;
  margin-top: 2rem;
}
